/*/**
* Custom Innuendo Styles
*/

/* 1.0 Site-wide styles */

html body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.clear {
	clear: both;
}

html body {
	letter-spacing: 0;
}

html body .company-header .company-featured img, 
html body .loop-item-wrap .item-featured img, 
html body .profile-avatar img, 
html body .candidate-avatar img,
html body .member-heading-avatar img {
	border-radius: 5px;
}

html body .noo-page-heading .page-sub-heading-info {
	opacity: 1;
}

html body button.close {
	font-family: "Exo", sans-serif;
}

/* Front End media uploader styling fix */

.screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* 2.0 Navigation Bar / Header */

.navbar .nav-item-member-profile.login-link:before {
    background: none repeat scroll 0 0 #505050;
    height: 40%;
}

.navbar-brand {
	margin: 0 2rem;
}

.noo-navbar-collapse .menu-item-post-btn {
	padding-bottom: 2rem;
}

@media (min-width: 992px) {

	.noo-navbar-collapse .menu-item-post-btn {
		padding-bottom: 0;
	}

	.noo-navbar-collapse.collapse {
		width: 100%;
		border-top: 1px solid #262626;
		border-bottom: 1px solid #262626;
		padding: 0 2rem;
		background-color: #262626;
	}

	.noo-navbar-collapse  .navbar-nav > li > a {
		color: #fff;
		font-weight: 500;
	}

	.nav-item-member-profile.login-link:before {
	    background: none repeat scroll 0 0 #000;
	}

	.noo-navbar-collapse.collapse  .navbar-nav > li > a:hover {
		color: #ff0080;
	}

	.noo-navbar-collapse.collapse .nav-item-member-profile.register-link a {
		background: #000;
	}

	.menu-item-post-btn a {
		font-family: "Oswald",sans-serif!important;
		font-weight: 500!important;
	}


	.navbar:not(.navbar-shrink) .noo-navbar-collapse.collapse .navbar-nav > li > a {
	    line-height: 55px;
	}
}

/* 3.0 Landing Page */

.noo-job-search-wrapper .chosen-container-multi .chosen-choices li.search-field input[type="text"], .noo-job-search-wrapper .job-advanced-search #search-keyword::placeholder {
	color: #44494b;
}

.noo-job-search-wrapper .job-advanced-search {
	background-color: rgba(255,255,255,0.8);
	border-radius: 5px;
	padding-top: 20px;
}

.noo-job-search-wrapper .job-advanced-search .job-advanced-search-form {
	background: none;
}

.noo-job-search-wrapper .job-advanced-search .btn-search-submit {
	background-color: #ff0080;
}

.noo-job-search-wrapper .form-group .chosen-container-multi .chosen-choices {
	display: inline-flex;
	align-items: center;
}

.noo-job-search-wrapper .chosen-container-multi .chosen-choices li.search-choice {
	margin-top: 11px;
}

@media (max-width: 991px) {
	.job-advanced-search .job-advanced-search-form {
	    display: block;
	    height: auto;
	    background: transparent;
	}
}

.company-list .company-list-item .company-item-thumbnail img {
	max-height: 160px;
	display: table;
	margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 991px) {
	.noo-job-search-wrapper .job-advanced-search .job-advanced-search-form .form-group {
		display: block;
		max-width: 100%;
		padding: 5px;
	}

	.noo-job-search-wrapper .job-advanced-search .form-action {
		width: 100%;
		display: block;
	}
}

.wpb_wrapper .company-letters {
	border-top: 1px solid #f2efef;
	border-bottom: 1px solid #f2efef;
}

body .wpb_wrapper .company-list .company-item {
	border: 1px solid #f2efef;
}

/* 4.0 Employer / Candidate Dashboard */

.jpanel-body .account-actions {
	margin: 0 auto 50px auto;
	display: table;
}

.noo-pricing-table .noo-pricing-column .pricing-content .pricing-info .short-desc ul {
	list-style: disc;
	padding-left: 15px;
}

/* Payment pages */

html body .woocommerce .woocommerce-info {
	border-top: 3px solid #ff0080;
}

html body .woocommerce .woocommerce-info:before {
	color: #ff0080;
}

/* fixing upgrade button spacing */
.member-plan .member-plan-choose a {
	margin-bottom: 1rem;
}

/* Fixing appearance of select inputs */
html body .select2-container--default .select2-selection--single {
	height: 37px;
	border: 1px solid #ccc;
	outline: none;
}

html body .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 37px;
}

html body .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 37px;
}

/* Fixing appearance of order pages */

html body #order_review .woocommerce-checkout-review-order-table, html body .woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
	font-family: 'Exo', sans-serif;
}

a.about_paypal {
	padding-left: 1rem;
	color: #ff0080;
	text-decoration: underline;
}

html body .woocommerce #payment ul.payment_methods {
	padding: 0;
	border-bottom: none;
}

html body .woocommerce #payment div.form-row {
	border-top: none;
}

html body .woocommerce #payment div.payment_box {
	width: 100%;
}

html body .woocommerce #payment #place_order {
	background-color: #ff0080;
}

html body .woocommerce #payment #place_order:hover{
	background-color: #dc006e;
}

html body .woocommerce form .form-row button.button {
	background-color: #ff0080;
	font-family: inherit;
	color: #fff;
}

html body .woocommerce form .form-row button.button:hover {
	background-color: #dc006e;
}

html body .woocommerce .woocommerce-order-overview.order_details {
	margin: 1rem 0;
	padding: 2rem;
	border: 1px solid #ccc;
	border-radius: 5px;
}

html body .shop_table.woocommerce-checkout-review-order-table tr td:nth-child(2), 
html body .shop_table.woocommerce-checkout-review-order-table .product-total,
html body .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tr td:nth-child(2),
html body .woocommerce-table.woocommerce-table--order-details.shop_table.order_details .product-total {
	text-align: right;
}

/* Job Packages Page */

html body .noo-pricing-table.package-pricing {
	display: inline-flex;
}

html body .noo-pricing-table.noo-col-3 .noo-pricing-column {
	background-color: #ebeeef;
	flex: 0 1 auto;
	margin: 0 0.5rem;
	border-radius: 5px;
}

/* 5.0 Single Job Page / Single Company Page */

.more-jobs ul li {
	line-height: 1.5rem!important;
}

.job-action.job-action-mobile  {
	margin-top: 0;
	text-transform: uppercase;
}

.company-info .btn-readmore {
	background-image: linear-gradient(to bottom, rgba(235,238,239,0.0001), #ebeeef);
	position: relative;
	margin-top: -9rem;
	padding-top: 8rem;
}

.company-info-content[aria-expanded=true] + .btn-readmore {
	background-image: none;
	margin-top: none;
	padding-top: none;
}

@media (max-width: 768px) {
	.job-action-mobile {
		display: none;
	}

	html body .noo-company.noo-company-style2 .noo-company-profile .noo-company-sumary .noo-company-avatar {
		display: block;
		float: none;
		margin: 0 auto;
	}

	html body .noo-company .noo-company-profile .noo-company-sumary .noo-company-name {
		text-align: center!important;
		float: none!important;
		display: block!important;
		margin: 0!important;
	}
}

/* 6.0 Job Feed / Company Feed */
